<style>
  /* Tab Navigation */
  .nav-tabs {
      margin: 0;
      padding: 0;
      border: 0;    
  }
  .nav-tabs li {
    width: 16.66%;
    margin-bottom: -1px;
    text-align: center;
  }
  .nav-tabs > li > a {
      background: #DADADA;
      border-radius: 0;
      box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover {
      background: #F5F5F5;
      box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
  }

  /* Tab Content */
  .tab-pane {
      background: #F5F5F5;
      box-shadow: 0 0 4px rgba(0,0,0,.4);
      border-radius: 0;
      text-align: center;
      padding: 10px;
  }
  .col-md-8 {
    text-align: left;
  }

  .tab-pane img {
    max-width: 260px;
  }

  .tab-pane .container {
    padding: 35px;
  }
</style>

<div class="container">
  <br><br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#1" role="tab" data-toggle="tab">
        <h4>Dr. Ram Mohan</h4><span>Managing Director</span>
      </a>
    </li>
    <li>
      <a href="#2" role="tab" data-toggle="tab">
        <h4>Sarvesh Kumar </h4><span>MANAGAR</span>
      </a>
    </li>
    <li>
      <a href="#3" role="tab" data-toggle="tab">
        <h4>Dr. Arbind Kumar </h4><span>Principal</span>
      </a>
    </li>
    <li>
      <a href="#4" role="tab" data-toggle="tab">
        <h4>Ved Pathi Tiwari</h4><span>Educationist</span>
      </a>
    </li>
    <li>
      <a href="#5" role="tab" data-toggle="tab">
        <h4>Bhaskar Sharma</h4><span>Educationist</span>
      </a>
    </li>
    <li>
      <a href="#6" role="tab" data-toggle="tab">
        <h4>Mr. Anand Mohan </h4><span>Educationist</span>
      </a>
    </li>
  </ul>    
  
  <div class="tab-content">
    <div class="tab-pane fade active in" id="1">
      <div class="container">
        <div class="col-md-4">
          <h4>Dr. Ram Mohan</h4><span>Managing Director</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('director.jpg') %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="2">
      <div class="container">
        <div class="col-md-4">
          <h4>Mr. Sarvesh Kumar </h4><span>MANAGAR</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('manager.jpg') %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="3">
      <div class="container">
        <div class="col-md-4">
          <h4>Arbind Kumar </h4><span>Principal</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('principal.jpg') %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="4">
      <div class="container">
        <div class="col-md-4">
          <h4>Ved Pathi Tiwari </h4><span>Educationist</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('vedsir.jpg') %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="5">
      <div class="container">
        <div class="col-md-4">
          <h4>Mr. Bhaskar Sharma</h4><span>Educationist</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('unknown-m.jpg') %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="6">
      <div class="container">
        <div class="col-md-4">
          <h4>Dr. Anand Muhon </h4><span>Educationist</span>
        </div>
        <div class="col-md-8">
          <%= image_tag('sir.jpg') %>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>