<style>
  .right-sec h4 {
    border-bottom: 2px solid green;
  }
  .container {
    border-top: 1px solid black;
  }
</style>
<div class="container fullwidth">
  <br><br>
  <div id="content" class="clearfix">
    <div class="col-md-12">
      <div class="col-md-4 left-sec">
        <h4>Our Vision</h4>
        <p><span style="padding-top: 9px;">
          </span>
        </p>
        <div class="et_quote">
          <div class="col-md-2">
            <%= image_tag('quote-yellow.png') %>
          </div>
          <div class="col-md-10">
            Suditi Global Academy aims to provide world class education to its students with Indian tradition and culture, and dedicated to producing future leaders of the world. 
            <br>
          </div>
        </div>
        <br>
        <p></p>
        <p>&nbsp;</p>
        <h4>Our Mission</h4>
        <p><span style="padding-top: 9px;">
          </span>
        </p>
        <div class="et_quote">
          <div class="col-md-2">
            <%= image_tag('quote-yellow.png') %>
          </div>
          <div class="col-md-10">
            To fulfill vision, Suditi Global Academy provides an environment in which every student discovers and realizes his full potential. The school should attract the best talented-students, teachers and facilitators-from all parts of India and the world, without distinction of race, religion caste or social status. Suditi Global Academy, as a residential cum day scholar school must maintain a sharp focus on the pursuit of knowledge and skill. In particular, it must attain the highest academic standards. In addition, drawing on its tradition and rich history of its promoters, the school should aim at the broader development of the complete personality of its students by creating: An understanding and appreciation of India's culture. A sense of integrity, ethics and uncompromising honesty. A strong secular ethos. Leadership with a sense of team work and fair play. An awareness of the environment. A concern of the less fortunate. A concern for human rights and democrative values. A questioning mind and a spirit of adventure. In realizing the mission, Suditi Global Academy should at all times be financially viable and independent.
          </div>
        </div>
        <span style="height:25px;"></span>
      </div>
      <div class="col-md-8 right-sec">
        <h3 style="display:inline">
          <span style="display:inline; font-weight:normal; font-size:14px;">Our Motto:</span> 
          BE.BELONG.BECOME
        </h3>
        <p>
          <%= image_tag('shalom-presidency-motto.jpg', alt:"Logo", style: "padding-left:20px; vertical-align: bottom;") %>
        <p>&nbsp;</p>

        <h4>Inspiration:
          <%= image_tag('be.jpg', alt:"Logo", style: "padding-left:20px; vertical-align: bottom;") %>
        </h4>
        <p>Suditi Global Academy is inspired, initiated and being lovingly nurtured by DR.RAM MOHAN and his life partner DR.KUSUM MOHAN and their son Sh. LAV MOHAN and daughter Miss LAVINA MOHAN under the inspirational force and guiding spirit of his late parents, venerable late Sh.Sukhvir Singh and Smt.DilawariDevi. 
        </p>
        <p>&nbsp;</p>
        
        <h4>Abode of Enlightenment
          <%= image_tag('belong.jpg', alt:"Logo", style: "padding-left:20px; vertical-align: bottom;") %>
        </h4>
        <p>Suditi Global Academy is an abode of enlightenment. It aims to impart quality education to the students. It enables value based growth and practice based learning in order to nurture competent young talents of tomorrow.  </p>
        <p>&nbsp;</p>
        
        <h4>Campus Ambience
          <%= image_tag('become.jpg', alt:"Logo", style: "padding-left:20px; vertical-align: bottom;") %>
        </h4>
        <p>The school is situated in a sprawling green oasis of 20 acres and within easy reach to all the amenities of the cities. Drawing inspiration from the gurukul style of learning combined with modern tools of 21st century's education, it is a co-educational school promoting healthy relationship.</p>
        <p>&nbsp;</p>
        
        <h4>Infrastructure
          <%= image_tag('become.jpg', alt:"Logo", style: "padding-left:20px; vertical-align: bottom;") %>
        </h4>
        <p>State of the art infrastructure, magnificent building well adorned, ornamented and showcased with all the latest technological tools required for the school .There is beauty, space, quietness, interaction, dignity, and a feeling of spectacular holiness.</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="bottom-shadow"></div>
  <br><br>
</div>